<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "pl.gaman.kodereader"
        version   = "2.1.0">
        
    <name>Kode Reader</name>

    <description>The simplest line and matrix codes reader out there. Scans all major and most popular 2D codes. One app to scan them all.</description>

    <author href="https://github.com/trejder">
        https://github.com/trejder/
    </author>
    
    <gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.0.0" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
    <gap:plugin name="com.verso.cordova.clipboard" version="0.1.0" />
    <gap:plugin name="com.google.cordova.admob" version= "2.7.7" source="plugins.cordova.io" />

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />
    
    <icon src="assets/icon.png" />
    
    <!-- Support app description in more languages than just default English. -->
    <!-- See: http://stackoverflow.com/a/30981149/1469208 for more details. -->
    
    <gap:config-file platform="winphone" parent="/Deployment" mode="replace">
        <Languages xmlns="">
            <Language code="en-EN"/>
            <Language code="pl-PL"/>
        </Languages>
        <DefaultLanguage xmlns="" code="en-EN" />
    </gap:config-file>

</widget>