* {
    -webkit-touch-callout:  none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:  none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color:  rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select:  none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body
{
    font-size: 16px;
    background-color: #ffffde;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

div.app
{
    margin-top: 21px;
    text-align: center;
    padding-top: 150px;
    background: url(logo.png) no-repeat center top;
}

h1, h2
{
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h1 {text-transform: uppercase;}

h2
{
    font-size: 21px;
    font-weight: normal;
}

p.buttons a {width: 73%;}

div#info
{
    width: 85%;
    margin: auto
}

div.label
{
    color: gray;
    float: left;
    width: 60px;
    text-align: left;
}

div.result
{
    float: left;
    text-align: left;
    font-weight: bold;
}